/*
COLORS

dark-brown: #171510;
gold: #FFC153;
overlay-brown: #4a3818;


/* HTML Reset */

h1.smaller {font-size: 43px;}
h2.smaller {font-size: 30px;}

.no-bottom {
padding-bottom: 0px;
}

.no-gutter {
margin-right: 0px;
margin-left: 0px;
}
.no-gutter > [class*='col-'] {
padding-right:0;
padding-left:0;
}

img.square {
}

span.quote {
font-size: 25px !important;	
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
background: #222;
border-color: #222;
}

/* Header */

header.portfolio-carousel {
	height:auto;
}

.container-nav {
	margin: 0 0 0 4%;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}


.navbar {
border-radius: 0px;
}

.navbar-fixed-top {
    position: fixed;
    top: 40px;
}

@media (min-width: 768px) {
	.navbar-fixed-top.navbar-expanded {
    padding-top: 0px;
	}
}

@media (min-width: 768px){
.not-front .navbar-default.navbar-expanded, .not-front .navbar-inverse.navbar-expanded {
    background: #101010;
}

.not-front .navbar-fixed-top.navbar-expanded {
    padding: 0px;
}

.not-front .navbar-fixed-top {
    padding: 0; 
}

}


/*UI Bar*/

#ui-wrapper {
position: fixed !important;
top: 0;
width: 100%;
height: 40px;
padding: 0;
z-index: 2;
}

.uiowa-bar-dark #ui-wrapper {
box-shadow: none;
background-color: #171510;
}

#ui-wrapper #ui-logo {
margin-top: 5px;
}

#ui-wrapper #ui-logo a {
font-size: 2rem;
color: white;
font-family: Cardo, arial, sans-serif !important;
}

#ui-wrapper #ui-search-toggle {
}

#ui-wrapper #ui-search {
box-shadow: none;
background-color: #555;
border-radius: 0;
margin-bottom: 5px; 
border: 0px;
}

@media (min-width: 480px) {
#ui-wrapper #ui-search {
margin-bottom: 0; }
}

#ui-wrapper #ui-search #edit-search-terms {
padding: 3px 0 4px 8px;
}

#ui-wrapper #ui-search input#edit-submit-search {
border-radius: 0;
border: none;
}

.uiowa-bar-dark #ui-search #edit-submit-search {
background: #999;
color: black;
font-weight: 700;
font-family: Sanchez, arial, sans-serif !important;
border: 0px;
width: 40px;
}

.uiowa-bar-dark #ui-search #edit-submit-search:hover {
background: #FFC153;
}

.uiowa-bar-dark #ui-wrapper #ui-search-toggle.is-active {
      background-color: transparent;
      box-shadow: none; }

#ui-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

#ui-wrapper .form-item-search-terms .form-control {
}

#ui-wrapper #edit-submit-search {
    width: auto;
    padding: 4px 8px;
}

#ui-search {
height: 100%;
bottom: 0px;
height: 40px;
position: static;
width: 300px;
float: right;
}

#ui-search form.search-google-appliance-search-form {
height: 40px;	
}

#ui-wrapper #ui-search #edit-search-terms {
height: 40px;
padding: 0px;
}

#ui-search #edit-submit-search {
height: 100%;
}

#ui-wrapper input {
    font-family: Cardo, arial, sans-serif !important;
    font-size: auto !important;
}

#ui-search .form-item-search-terms label {
overflow: visible;
visibility: hidden;
width: 0px;
height: 0px;
}


/* Bars */

.primary-bar {
width: 100%;
background:	#FFC153;
padding: 20px 0;
}

/* Content */

.content {padding: 20px 0;}

/* Development */
.instasquare img {
width: 100%;
height: auto;
}

#development .instasquare .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #4a3818;
opacity: 0.7;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

#development a {
}

#development a:hover .overlay {
opacity: 0.1;
}

.instasquare .caption {
color: #fff;
border-radius: 150px;
width: 200px;
height: 200px;
border: 2px #fff solid;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

#development a:hover .caption {
color: #222;
border: 2px #fff solid;
background: #fff;
}

.instasquare .caption .fa {
margin-top: 10px;
font-size: 5em;
}


/* Highlighted */
.highlighted {padding: 0px;}
.highlighted .box-right {	  
}
.highlighted .box-left {
}

 
/* News */

.highlighted .project-details {
	padding: 15% 0 0 20px;
	text-align: left; 
}

.highlighted .news {
background-color: #FFC153;
height: 500px;
}
 
 
.highlighted .project-details .tint {
margin: 0 auto 20px 0;
}

.highlighted .project-name {
display: block;
font-size: 50px;
line-height: 50px;
font-weight: 400 !important;
text-transform: uppercase !important;
margin-bottom: 15px;
font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
  
.highlighted .project-description {
font-size: 30px;
line-height: 20px;
}
  

/* Stats */

.stats {
	background-color: #FFC153;
	height: 500px;
	background-image: url('../img/gc/noisy_grid_grey_blue.png');
	padding: 15% 20px 0 0;
	text-align: center; 
}

.stats-header {
    display: block;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400 !important;
    text-transform: uppercase !important;
	font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #FFC153;
  }

.impact-stat {
}  

.impact-value {
    font-size: 150px;
    line-height: 150px;
	font-weight: 400;
	font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: white;
}

.impact-superscript {
    font-size: 50px;
	font-weight: 400;
}

.impact-body {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 0px;
	color: white;
}

.impact-cite {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
}

/* Programs */

#award-winning-programs {
	background-color: #FFC153;
}

.rank {    
font-size: 150px;
line-height: 150px;
font-weight: 400;
font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
z-index: 1;
}

.rank:before {
font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
content: '#';
color: rgba(255, 255, 255, 0.3);
font-size: 300px;
position: absolute;
z-index: 0;
left: 0;	
}

/* Profiles */

.about-carousel .item .overlay {
	background-color: #4a3818;
}

.about-carousel .item .caption {
	color: rgba(255, 255, 255, 1);
}

.about-carousel .owl-controls .owl-prev, .about-carousel .owl-controls .owl-next {
	background-color: #000 !important;
}

/*Experience*/

#experience {
padding-top: 50px;	
}

/* Quick Links Bar */

#quick-links {}

#quick-links ul {
list-style-type: none;
text-align: left;
	
}

/* Slider Hero */

@media (min-width: 992px){
.portfolio-carousel .item .project-details {
    padding: 0 0 0 20% !important;
	min-height: 300px;
}
}

header.portfolio-carousel .item {
    padding: 205px 55px 155px;

}

.portfolio-carousel .item .project-description {
font-size: .8em;
font-style: italic;	
}

.portfolio-carousel {
background-color: transparent;
}



/* Footer */

footer.footer, .footer {
background-color: #171510 !important;
color: white !important;	
}

.footer ul li {
list-style-type: none;
}
.footer ul  {
-webkit-padding-start: 0px;
}

.footer hr {margin: 20px 0;}

.ui-logo {
    background-position: left top;
    background-image: url(..\img\gc\DomeWdUnit-W-L.gif);
    width: 205px;
    height: 189px;
    display: block;
    background-repeat: no-repeat;
}







