/* HTML Reset */

.no-bottom {padding-bottom: 0px;}

.no-gutter {
	margin-right: 0px;
	margin-left: 0px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

img.square {

}

/* Development */
.instasquare img {
	width: 100%;
	height: auto;
}

#development .instasquare .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #222;
    opacity: 0.5;
}

/*UI Bar*/

#ui-wrapper {
  font-size: 0.875rem;
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 5px 0;
}
#ui-wrapper #ui-logo a {
    font-size: 1.6rem; }

#ui-wrapper #ui-search-toggle {
    font-size: 1.3rem; }

#ui-wrapper #ui-search {
    box-shadow: none;
    background-color: #56565A;
    border-radius: 0;
    margin-bottom: 5px; }

    @media (min-width: 480px) {
      #ui-wrapper #ui-search {
        margin-bottom: 0; }
	}

#ui-wrapper #ui-search #edit-search-terms {
      padding: 3px 0 4px 8px;
      font-family: FranklinGothicMedium !important; }

#ui-wrapper #ui-search input#edit-submit-search {
      border-radius: 0;
      border: none;
      font-family: FranklinGothicMedium !important; }

#ui-wrapper #ui-search .ui-glyph-icon-ui-search {
      font-size: 1.25rem; }

.uiowa-bar-dark #ui-wrapper {
    box-shadow: none; }

.uiowa-bar-dark #ui-wrapper #ui-search-toggle.is-active {
      background-color: transparent;
      box-shadow: none; }

#ui-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

#ui-wrapper .form-item-search-terms .form-control {
    height: auto;
    line-height: normal;
}

#ui-wrapper #edit-submit-search {
    width: auto;
    padding: 4px 8px;
}

/*Nav Bar */

.navbar-fixed-top {
    top: 40px;
}

@media (min-width: 768px) {
	.navbar-fixed-top.navbar-expanded {
    padding-top: 5px;
	}
}

/* Profiles */

.about-carousel .item .overlay {
	background-color: #4a3818;
}

.about-carousel .item .caption {
	color: rgba(255, 255, 255, 1);
}

.about-carousel .owl-controls .owl-prev, .about-carousel .owl-controls .owl-next {
	background-color: #000 !important;
}
