/*
 * Off Canvas
 * --------------------------------------------------
 */


.row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
	top: 90px;
  }
  
.front .row-offcanvas {
	top: 0px;
  }
  
   .sidebar-offcanvas {
   background: #171510;
   height: 100%;
   }
   
   /* Sidebar Flyout */

#sidebar .list-group {
	background: transparent;
	color: white;
	position: fixed;
	top: 100px;
	width: 100%;
}

#sidebar .list-group li {
list-style-type: none;
padding: 0 0 0 10px;	
}

#sidebar .list-group li a {
color: white;
}

.front #sidebar .list-group {
	top: 100px;
}

#sidebar .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#sidebar .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    border: 0px 
}

#sidebar a.list-group-item, button.list-group-item {
    color: white;
}

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }
  
    .row-offcanvas-right
  .sidebar-offcanvas {
    right: -25%; /* 6 columns */

  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -25%; /* 6 columns */

  }

  .row-offcanvas-right.active {
    right: 25%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 25%; /* 6 columns */
  }
  
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 25%; /* 6 columns */
  }



  @media screen and (max-width: 767px) {
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }
  
    .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
